<nav>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [routerLink]="['/']" ngbNavItem><a ngbNavLink>Home</a></li>
    <li *ngIf="token == null" [routerLink]="['/register']" ngbNavItem><a ngbNavLink>Register</a></li>
    <li *ngIf="token == null" [routerLink]="['/login']" ngbNavItem><a ngbNavLink>Login</a></li>
    <li *ngIf="token != null" [routerLink]="['/profile']" ngbNavItem><a ngbNavLink>Your Profile</a></li>
    <li *ngIf="token != null" [routerLink]="['/feed']" ngbNavItem><a ngbNavLink>View Posts</a></li>
    <li *ngIf="token != null" [routerLink]="['/post']" ngbNavItem><a ngbNavLink>Create Post</a></li>
    <li *ngIf="token != null" [routerLink]="['/logout']" ngbNavItem><a ngbNavLink>Logout</a></li>
  </ul>
</nav>
<div class="bigContainer">
<router-outlet></router-outlet>
</div>
<footer>
  <div class="ethansFoot">
    <p>This sample application was created by Ethan McNeil in 2020. Thanks for viewing it!</p>
    <p><a href="https://github.com/ethanmcneil" target="_blank">My Git Hub Profile</a> <br>
      <a href="https://www.linkedin.com/in/ethan-mcneil/" target="_blank">My LinkedIn Profile</a> <Br>
      <a href="https://ethanandhailey.com" target="_blank">My Website</a></p>
  </div>
</footer>